

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	font-family: 'Fira Sans', sans-serif;
	font-size: 0.73em ;
	color: rgb(37,27,38);
	font-weight: 500;
	overflow-x: hidden;
}

hr {
    border-style: solid;
    border-width: 3px;
    left : 0;
	color: rgb(37,27,38);
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	margin: 0;
	padding: 0;
	color: rgb(37,27,38);
}

a:link, a:visited, a:hover, a:focus, a:active, a:visited:hover { 
	color : rgb(238,64,61);
}

.thin {
	border-width: 2px;
} 

.ultra-thin {
	border-width: 1px;	
}

.red {
	color: rgb(215,31,20);
}

.dark {
	color: rgb(37,27,38);
	border-color: rgb(37,27,38);
}

.white{
	color: #fff;
	font-weight: 400;
}

.offset {
	margin-top: 150px;
}

.offsetMid {
	margin-top: 75px;
}

.offsetLight {
	margin-top: 25px;
}

.underline a {
  color : rgb(37,27,38);
  text-decoration: none;
  position: relative;
}
.underline a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(37,27,38);
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

#landing {
	background: rgb(37,27,38) url("../img/Nawa_owl.jpg") no-repeat right top;
	background-size: auto 100%;	
	background-attachment: fixed;
	height:100vh;

}

#landing hr {
	visibility: visible;
	margin: 25% 0 10% 0;
}

#dateImg img, #nameImg img{
	width: 100%;
}

#numberImg img {
	width: 25%;
}

.nav {
	width: 100%;
	height:40px;
	position: fixed;
	top: 0;
	left:0;
	background-position: top right;
	background: rgb(255,255,255);
	padding: 20px 0 0 0;
	transition: all 0.5s Ease;
}

.nav .section:last-child{
	margin-top: 10px;
} 

.nav.navOn{
	height: 80px;
	padding: 40px 0 0 0;
}

#topButton {
	visibility: hidden;
}
 
.spanOff {
	display: none;
}   

#onset {
	padding-top: 150px;
}


.landingDate{
	color: rgb(255,255,255);
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
	margin-bottom: 20px;
}

.landingDate .down-arrow {
	visibility: hidden;
}

.sponsors {
	margin: 100px 0 25px 0;
}


#drinkImg {
	background: url("../img/drinks_tut-02.svg") no-repeat right top;
	background-size: 100%;	
	height:80vh;
}

.shorthr {
	visibility: hidden;
	margin: 55px 0 55px 0;
	width: 25%;
}

#info {
	color : rgb(215,31,20);
}

#info .flex-wrapper {
	width: 100%;
}

.flex-wrapper {
	display: inline-flex;
	flex: 0 0 100%;
	 justify-content: space-between;
}

.flex-item {
	 flex-grow: 1;
	 margin: 25px 10px 25px 10px;
	 text-align: center;
}

.sponsors .flex-wrapper{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 9.236% 0 9.236%;
	width: 81.5%;
}

.arrow-wrapper {
	width: 50%;
}

.table-wrapper {
	width: 100%
}

#info .number {
	margin: 0.5em 1em 0 0 ;
}

#busplan {
	background-color:  rgb(37,27,38);
	color: rgb(255,255,255);
	height: 100px;
	overflow: hidden;
	margin: 0;
}

#busplan h1 {
	font-size: 3em;
	margin: 0.8em 0 0 0.4em;
}

.main-wrapper {
	flex-direction: column;
	width: 100%;
	align-items: flex-start
}

.sub-wrapper {
	height: 100px;
	margin: 0 9.236% 0 9.236%;
}

.sub-wrapper, #imgRoute {
	flex-grow: 1;
	flex-basis: auto;
}

#imgRoute {
	width: 100%;
	opacity: 0;
}

#timetable {
	margin-bottom: 30px;
}

.sliderArrow {
	display: none;
}

#impressum {
	background-color: rgb(37,27,38);
	padding: 25px 0 200px 0;
}

.list {
	width: 100%;
	overflow:hidden;
}

.row {
	height: 50px;
	padding: 25px 0 0 0;
	overflow: hidden;
	-webkit-transition: height 0.2s; /* Safari */
    transition: height 0.2s;
	transition-timing-function: ease-out;
}

.row.open {
	height : 530px;
}

.closeicon{
	margin: -10px 0 0 0;
	opacity: 0;
}

.clublabel{
	margin: 1.5em 0 0 0;
}

.number {
	text-align: center;
	font-size: 1.5em; 
	min-width: 1.5em;
	height: 1.5em;
	border: 3px solid;
	display: inline-block;
}

.label {
	margin: 0 0 0 1.5em;
}

.aRight {
	text-align: right;
}

.fRight {
	float: right;
}

.lastD .hour {
	font-size: 1.7em;
}

.dRow {
	height: 220px
}

.hour {
	font-size: 1.7em;
	width: 1.7em;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: text-top;
}

.minute {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0;
	vertical-align: top;
}

.minute div{
	margin: 0.5em 0 0 0;
}

.slider-elements .flex-wrapper {
flex-flow: column;
	justify-content: space-around;
	width: 100%;
}

.image-wrapper img{
	width: 100%;
}

.text-wrapper {
	text-align: left;
	padding-left: 2px;
}


.slider-elements .flex-item {
	 margin: 25px 0 25px 0;
}

.clubName {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	margin-bottom: 25px;
}

.clubEvent {
	color: rgb(215,31,20);
	margin-bottom: 25px;
}


@media (max-width: 1024px) {
	.rCol {
		width: 81.5%;
		margin: 0 9.236% 0 9.236%;
		display:inline;
	}
}


@media (min-width: 414px) {
	h1 {
		font-size: 5.5em;
	}

	.hour {
		font-size: 3em;
	}
}

@media (min-width: 568px) {
	h1 {
		font-size: 6.7em;
	}

	.hour {
		font-size: 5em;
	}
}

@media (min-width: 670px) {
	.respArrows {
		display: none;
	}

	.sliderArrow {
		display: inline-block;
	}

	.slider-elements .flex-wrapper {
	flex-flow: row-reverse;
	justify-content: space-around;
	width: 100%;
	}
	
	.image-wrapper {
		padding: 0 0 0 1.6%;
	}

	.image-wrapper img{
		width: 100%;
	}

	.text-wrapper {
		flex-grow: 2;
	}

	.slider-elements .flex-item {
		 flex-basis: 0;
		 margin-top: 25px;
	}
}

@media (min-width: 768px) {
	#info h1 {
		font-size: 7.8em;
	}

	.hour {
		font-size: 7em;
	}

	#topButton {
		visibility: visible;
	}
}

@media (min-width: 1025px) {
	body {
		font-size: 0.9em;
	}

	.row.open {
		height : 560px;
	}


	.shorthr {
		visibility: visible;
	}
	
	.underline a:hover:after { 
  		width: 100%; 
  		left: 0; 
	}

	.main-wrapper {
		flex-direction: row;
	}

	#imgRoute {
		margin: 0;
		width: 33%;
	}
}

@media (min-width: 1200px) {
	.text-wrapper {
		flex-grow: 1;
		}

	.image-wrapper {
		padding: 0 0 0 9.236%;
	}
}

@media (min-height: 414px) {
	.landingDate .down-arrow {
		visibility: visible;
	}
}


@media (orientation: portrait){
	#landing {
		background: rgb(37,27,38) url("../img/Nawa_owl.jpg") no-repeat center top;
		background-size: auto 100%;	
		background-attachment: fixed;
	}

	#drinkImg {
		background: url("../img/drinks_tut-01.svg") no-repeat right top;
		background-size: 100%;	
		height: 75vh;
	}

	.landingSpace {
		width: 7.636%;
	}

	.landingTitel {
		width: 44.58%;
	}

	#numberImg img {
		width: 50%;
	}

	#landing hr {
		margin: 25% 0 33% 0;
	}

}




